body {
    width: 99%;
}

#shortLink {
    font-size: large;
}

@media all and (min-width: 407px) {
    #shortLink {
        font-size: x-large;
    }
}

@media all and (min-width: 531px) {
    #shortLink {
        font-size: xx-large;
    }
}