#Maven generated build
target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#Signed artifacts
*.asc

#KDE files
.directory

#Project specific files
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/documentation/
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.mvn
docker/localMySQL/yalsdb
docker/localMySQL/yalsee_db
docker/localMySQL/redis
/node_modules/

package.json
webpack.config.js
webpack.generated.js

# The following files are generated/updated by vaadin-maven-plugin
/frontend/generated/
pnpmfile.js
vite.generated.ts