@media (min-width: 1043px) {
    .axe-compact {
        align-self: center;
    }
}

/* Small Phone Screens */
@media (max-width: 576px) {
    /* Fixes bug: responsive-center asymmetric by limiting form on right side */
    .limited-by-right-side {
        position: absolute;
        right: 0;
    }
}

@media (min-width: 576px) {
    .axe-compact {
        background: white;
        max-width: min(761px, 97%);
        width: max-content !important;
    }
}

.axe-compact {
    background: white;
    max-width: min(761px, 97%);
    align-self: center;
}
