@media (min-width: 1043px) {
    .axe-compact {
        align-self: center;
    }
}

@media (min-width: 576px) {
    .axe-compact {
        max-width: min(761px, 97%);
        width: max-content !important;
    }
}

.axe-compact {
    background: var(--axe-compact-area-color);
    max-width: min(761px, 97%);
    align-self: center;
}
