/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .responsive-div {
        flex-basis: 0;
    }

    .responsive-center {
        flex-basis: 100%;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }

    .responsive-home-page-center {
        flex-basis: 100%;
        padding-left: 1px;
        padding-right: 1px;
    }

    #mainArea {
        padding: 0.4em !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .responsive-div {
        flex-basis: 5%;
    }

    .responsive-center {
        flex-basis: 90%;
    }

    .responsive-home-page-center {
        flex-basis: 90%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .responsive-div {
        flex-basis: 10%;
    }

    .responsive-center {
        flex-basis: 80%;
    }

    .responsive-home-page-center {
        flex-basis: 80%;
    }

    .large-text {
        font-size: large;
    }
}

/* Large devices (desktops/laptops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .responsive-div {
        flex-basis: 10%;
    }

    .responsive-center {
        flex-basis: 80%;
    }

    .responsive-home-page-center {
        flex-basis: 80%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1440.98px) {
    .responsive-div {
        flex-basis: 10%;
    }

    .responsive-center {
        flex-basis: 80%;
    }

    .responsive-home-page-center {
        flex-basis: 80%;
    }
}

/* Super large devices (large desktops, TVs, 1441px and up) */
@media (min-width: 1441px) {
    .responsive-div {
        flex-basis: 15%;
    }

    .responsive-center {
        flex-basis: 70%;
    }

    .responsive-home-page-center {
        flex-basis: 70%;
    }

    .large-text {
        font-size: large;
    }
}

/* Areas */
.main-area {
    background: var(--axe-main-area-color);
}

/* Styles */
.border {
    border: 1px solid var(--axe-border-color);
    border-radius: var(--axe-border-radius);
}

.bold {
    font-weight: bold;
}

.axe-layout {
    padding-top: 1em;
}

.color-border {
    border-color: var(--axe-section-border-color) !important;
}

.section {
    max-width: 100%;
    padding-top: 0;
}

vaadin-vertical-layout.section-content {
    padding-left: 0;
}

@font-face {
    font-family: 'Pebble';
    src: url('/Pebble-Regular.woff2') format('woff2'),
    url('/Pebble-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: Pebble, sans-serif, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --lumo-font-family: Pebble, sans-serif, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --axe-main-area-color: rgb(240, 240, 240);
    --axe-result-area-color: rgb(223, 240, 216);
    --axe-border-color: rgb(227, 227, 227);
    --axe-border-radius: 0.7rem;
    --axe-section-border-color: rgb(25, 36, 52);
    --axe-text-color: rgb(25, 36, 52);
    --axe-drawer-toggle-color: rgb(24, 39, 57);
    --axe-qr-code-border-radius: 0%;
    --axe-success-color: rgb(21, 132, 67);
    --axe-danger-color: rgb(202, 21, 12);
    --axe-primary-color: rgb(0, 106, 245);
    --axe-secondary-color: rgb(37, 51, 68);
    --axe-tertiary-color: rgb(144, 189, 249);
    --axe-announcement-line-color: rgb(218, 222, 226);
    --axe-compact-area-color: rgb(255,255, 255);
}

html[theme="dark"] {
    --axe-main-area-color: rgba(24, 27, 31, 0.3);
    --axe-result-area-color: rgb(43, 61, 81);
    --axe-border-color: rgb(204, 204, 220, 0.07);
    --axe-section-border-color: rgb(245, 249, 255);
    --axe-text-color: rgb(245, 249, 255);
    --axe-drawer-toggle-color: rgb(235, 243, 254);
    --axe-qr-code-border-radius: 5%;
    --axe-secondary-color: rgb(215, 224, 237);
    --axe-announcement-line-color: rgb(52, 66, 84);
    --axe-compact-area-color: rgb(35, 51, 72);
}

vcf-toggle-button {
    display: inline;
}

vaadin-drawer-toggle {
    color: var(--axe-drawer-toggle-color)!important;
}

.share-item-logo {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.axe-announcement-line {
    background-color: var(--axe-announcement-line-color);
    min-height: 2rem;
}

.centered-element {
    align-self: center;
}

.centered-text {
    text-align: center;
}

/* Fix for Sign-in icon */
vaadin-icon[icon="vaadin:sign-in"] {
    padding-left: 0 !important;
}

.green {
    color: green;
}