/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .responsive-div {
        flex-basis: 0;
    }

    .responsive-center {
        flex-basis: 100%;
        padding-right: 1px;
        padding-left: 1px;
    }

    #mainArea {
        padding: 0.4em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .responsive-div {
        flex-basis: 5%;
    }

    .responsive-center {
        flex-basis: 90%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .responsive-div {
        flex-basis: 10%;
    }

    .responsive-center {
        flex-basis: 80%;
    }

    .large-text {
        font-size: large;
    }
}

/* Large devices (desktops/laptops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .responsive-div {
        flex-basis: 10%;
    }

    .responsive-center {
        flex-basis: 80%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1440.98px) {
    .responsive-div {
        flex-basis: 10%;
    }

    .responsive-center {
        flex-basis: 80%;
    }
}

/* Super large devices (large desktops, TVs, 1441px and up) */
@media (min-width: 1441px) {
    .responsive-div {
        flex-basis: 15%;
    }

    .responsive-center {
        flex-basis: 70%;
    }

    .large-text {
        font-size: large;
    }
}

/* Areas */
.main-area {
    background: #f0f0f0;
}

/* Styles */
.border {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.bold {
    font-weight: bold;
}

.yalsee-layout {
    padding-top: 1em;
}

@font-face {
    font-family: 'Pebble';
    src: url('Pebble-Regular.woff2') format('woff2'),
    url('Pebble-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: Pebble, sans-serif;
}