.color-div {
    background-color: white;
}

.color-center {
    background-color: blue;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .test-div {
        flex-basis: 0;
    }

    .test-center {
        flex-basis: 100%;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .test-div {
        flex-basis: 5%;
    }

    .test-center {
        flex-basis: 90%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .test-div {
        flex-basis: 10%;
    }

    .test-center {
        flex-basis: 80%;
    }
}

/*Large devices (desktops/laptops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .test-div {
        flex-basis: 15%;
    }

    .test-center {
        flex-basis: 70%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1440.98px) {
    .test-div {
        flex-basis: 20%;
    }

    .test-center {
        flex-basis: 60%;
    }
}

/* Super large devices (large desktops, TVs, 1441px and up)*/
@media (min-width: 1441px) {
    .test-div {
        flex-basis: 25%;
    }

    .test-center {
        flex-basis: 50%;
    }
}
