body {
    width: 99%;
}

/* Areas */

/* Main Area moved to Common Styles */

.overall-area {
    background: var(--yalsee-main-area-color);
    padding-left: 1em;
}

.result-area {
    background: var(--yalsee-result-area-color);
    font-size: large;
    text-align: center;
    margin-top: 15px;
}

.qr-area {
    text-align: center;
}

#qrCode {
    border-radius: var(--yalsee-qr-code-border-radius);
    max-width: 100%;
}

.my-links-note-area {
    background: var(--yalsee-result-area-color);
    padding-left: 1em;
}

/* Use it for area that needed to "together" with upper area */
.joint-area {
    margin-top: -1em;
}
/* Protocol Selector should be closer to input */
#protocolSelector {
    padding-top: 0;
}

/* Font size for Short Link in Result Area */
#shortLink {
    font-size: large;
}

@media all and (min-width: 407px) {
    #shortLink {
        font-size: x-large;
    }
}

@media all and (min-width: 531px) {
    #shortLink {
        font-size: xx-large;
    }
}

/* Font size for Text in MyLinks Note Area */
@media all and (min-width: 531px) {
    #myLinksNoteText {
        font-size: large;
    }
}

/* Styling */
.strong-link {
    font-weight: 700;
    color: #337ab7;
    background-color: transparent;
}

.compact-title {
    margin-bottom: -0.5em;
}

.share-item-logo {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

/* Hide word long for extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .title-long-text {
        display: none;
    }
}

