body {
    width: 99%;
}

/* Areas */

/* Main Area moved to Common Styles */

.overall-area {
    background: #f0f0f0;
    padding-left: 1em;
}

.result-area {
    background: #dff0d8;
    font-size: large;
    text-align: center;
    margin-top: 15px;
}

.qr-area {
    text-align: center;
}

/* Use it for area that needed to "together" with upper area */
.joint-area {
    margin-top: 0;
}

/* Font size for Short Link in Result Area */
#shortLink {
    font-size: large;
}

@media all and (min-width: 407px) {
    #shortLink {
        font-size: x-large;
    }
}

@media all and (min-width: 531px) {
    #shortLink {
        font-size: xx-large;
    }
}

/* Styling */
.strong-link {
    font-weight: 700;
    color: #337ab7;
    background-color: transparent;
}

.compact-title {
    margin-bottom: -0.5em;
}
