/* Needs because at Extra small devices display flex breaks page layout */
@media (min-width: 576px) {
    #filterAndToggleLayout {
        display: flex;
        justify-content: space-between;
    }
}

.share-icon {
    color: var(--yalsee-success-color);
}

.edit-icon {
    color: var(--yalsee-primary-color);
}

.delete-icon {
    color: var(--yalsee-danger-color)
}

.save-icon {
    color: var(--yalsee-primary-color);
}

.cancel-icon {
    color: var(--yalsee-tertiary-color);
}