/* Needs because at Extra small devices display flex breaks page layout */
@media (min-width: 576px) {
    #filterAndToggleLayout {
        display: flex;
        justify-content: space-between;
    }
}

.success {
    color: var(--axe-success-color);
}

.primary {
    color: var(--axe-primary-color);
}

.danger {
    color: var(--axe-danger-color)
}

.secondary {
    color: var(--axe-secondary-color);
}

.tertiary {
    color: var(--axe-tertiary-color);
}

.grid-title {
    font-size: 2vw;
    align-self: center;
}