@media (min-width: 1043px) {
    #form {
        align-self: center;
    }
}

#formTitle {
    margin-bottom: -0.5em;
    align-self: center;
}

.compact-section {
    margin-top: -1rem;
}

#sameAsUsernameCheckbox {
    font-size: initial;
}