@media (min-width: 1332px) {
    #form {
        align-self: center;
    }
}

#formTitle {
    margin-left: 1rem;
    margin-bottom: -0.5em;
}

.compact-section {
    margin-top: -1rem;
}

#sameAsUsernameCheckbox {
    font-size: initial;
}