@media (min-width: 1043px) {
    .yalsee-form {
        align-self: center;
    }
}

.form-title {
    align-self: center;
}

.yalsee-form-subtitle {
    margin-left: 1rem;
}

.yalsee-form {
    background: white;
    max-width: 761px;
}
