version: '3'

networks:
  net:

services:
  # Database
  db:
    image: mariadb:10.4
    volumes:
      # Adjust me (/tmp/yalsdb - is folder on host)
      - yalsdb:/var/lib/mysql
      - ./my.cnf:/etc/alternatives/my.cnf
    restart: always
    ports:
      - "3306:3306"
    environment:
      PMA_USER: user
      PMA_PASSWORD: pass
      MYSQL_ROOT_PASSWORD: password
    networks:
      - net
  # phpmyadmin
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - '9090:80'
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password
    networks:
      - net

