body {
    width: 99%;
}
.main {
    background: #f0f0f0;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.result {
    background: #dff0d8;
    font-size: large;
    text-align: center;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-top: 15px;
}

@media all and (min-width: 407px) {
    .result {
        font-size: x-large;
    }
}

@media all and (min-width: 531px) {
    .result {
        font-size: xx-large;
    }
}

.strong-link {
    font-weight: 700;
    color: #245269;
    background-color: transparent;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;/* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer .container {
    width: auto;
    max-width: 680px;
    padding-top: 15px;
}

.modal.fade.in .modal-body {
    bottom: 0;
    opacity: 1;
}

.modal-body {
    bottom: -250px;
    -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    text-align: center;
}

.in-same-line {
    display: inline;
}

.overall-number-line {
    align-content: right;
}
